[Unit]
Description=Mizu services / GPU emulation / loader for Horizon apps.

[Install]
WantedBy=graphical-session.target

[Service]
Type=simple
Environment=MESA_GL_VERSION_OVERRIDE=4.6
ExecStart=/usr/bin/mizu
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
